/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: lightgrey;
}

.parallax-container {
    position: relative;
    height: 100vh;
}

.navbar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(233, 232, 230, 1);
}

.logo {
    font-family: 'Raleway';
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

.nav-links a.active {
    color: teal;
}

.social-media-icons {
    display: flex;
    gap: 10px;
}

.social-media-icons img {
    width: 24px;
    height: 24px;
}

.full-width-photo img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.square-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.507);
    padding: 20px;
    border-radius: 10px;
}

.square-content {
    font-size: 18px;
    color: black;
}

.square-content h1 {
    font-size: 36px;
    color: black;
    margin-bottom: 10px;
    font-family: cursive;
}

.square-content p {
    font-size: 18px;
    color: black;
    font-family: cursive;
}

.square-content a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.about-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: teal;
    color: white !important;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

/* New Styles for Resume Layout */
.res {
    margin-top: 100px;
    text-align: center;
}

.sectionresume {
    margin-top: 100px;
    text-align: center;
}

/* ... (your existing styles) */

.resume-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.section {
    border: none;
    padding: 10px;
    margin-bottom: 20px;
}

/* New media query for smaller screens */
@media screen and (max-width: 768px) {
    .resume-container {
        flex-direction: column; /* Change to a single column layout */
    }

    .column {
        width: 100%; /* Make each column take full width */
    }
}

.print-button-container {
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

.print-button {
    padding: 10px 20px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hide the print button when printing */
@media print {
    .print-button-container {
        display: none;
    }
}
@media print {
    body {
        overflow: visible;
    }
}

.footer {
    text-align: center;
    font-size: 10pt;
    background-color: aliceblue;
    padding: 8pt;
    margin-top: 50px;
}

.container {
    display: grid;
    gap: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
}

.item{
    width: 500px;
    height: 500px;
    background-color: rgb(255, 2, 2);
    text-align: center;
    }

.content{
    display: grid;
    margin: auto;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));

}

.content2{
    display: grid;
    margin: auto;
    object-fit: cover;
    align-items: middle;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(4, 1fr);    /* 4 rows */
    gap:10px;
}

.content3{
    display: grid;
    margin: auto;
    object-fit: cover;
    align-items: middle;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(3, 1fr);    /* 3 rows */
    gap:10px;
}

.content4{
    display: grid;
    margin: auto;
    object-fit: cover;
    align-items: middle;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 1fr); /* 2 columns */
    grid-template-rows: repeat(1, 1fr);    /* 3 rows */
    gap:10px;
}

.content5{
    display: grid;
    margin: auto;
    object-fit: cover;
    align-items: middle;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr);    /* 2 rows */
    gap:10px;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
}

.griditem{
    width: 600px;
    height: 600px;

    margin: 10px;
    padding: 10px;
}

.griditem2{
    max-width: 300px;
    max-height: 50px;

    margin: 10px;
    padding: 10px;
}

.griditem3{
    max-width: 300px;
    max-height: 50px;

    margin: 10px;
    padding: 10px;
}

.griditem4{
    max-width: 300px;
    max-height: 50px;
    text-align: center;
    font-size: 20pt;
    margin: 10px;
    padding: 50px;
}

.griditem5{
    max-width: 600px;
    max-height: 10px;
    margin: 50px;
    padding: 10px;
}


.containerflex{
    display: flex;
}

.flexitem{
    width: 500px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}

.flexitem2{
    max-width: 500px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    text-align: left;
}

.flexitem3{
    max-width: 1700px;
    height: 50px;
    margin: 10px;
    padding: 30px;
    font-size: 18px;
    text-align: center;
}

.flexitem4{
    max-width: 1700px;
    height: 80px;
    padding-bottom: 40px;
    font-size: 20px;
    text-align: center;
}

.forma {
    border-radius: 5px;
    padding: 20px;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    background: rgb(168, 168, 168, 0.2);
    color: rgb(0, 0, 0);
    border-radius: 25px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }

  .griditem > img{
    max-width: 100%;
    height: 89%;
  }

  .sectionabout {
    margin-top: 50px;
    text-align: center;
}

.progress-container {
    width: 200%;
    margin: 20px;
    background-color: #f1f1f1;
    position: relative;
}

.progress-bar {
    height: 20px;
    background-color: #4caf50;
    text-align: center;
    line-height: 30px;
    color: rgb(0, 0, 0);
}

.progress-text {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 30px; /* Optional padding for better visual separation */
}

.section {
    margin-top: 100px;
    text-align: center;
}